@import './normalize.css';
html,
body {
    font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: black;
    height: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}
textarea{
  resize: none;
}
a{
   color: #333;
}
a:hover{
  color:#333;
}
/* 滚动条样式 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #e1e1e1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #a9a9a9;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    background-color: #a9a9a9;
    border-radius: 6px;
}